.col2 {
  margin: 0 0 200px;
  @include sp {
    margin: 0 0 get_vw_sp(100);
  }

  &__flex {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: get_vw(1700);
    margin: 0 auto;
    @include sp {
      width: 90%;
      flex-wrap: wrap;
    }

    &--item {
      width: 50%;
      @include sp {
        width: 100%;
        margin: 0 0 get_vw_sp(20);
      }

      .item__text {
        font-size: 1.3rem;
        line-height: 1.5;
        padding: get_vw(10) get_vw(20);
        font-family: 'Noto Sans', sans-serif;
        @include sp {
          font-size: 1.2rem;
          padding: get_vw_sp(5) get_vw_sp(10);
        }

        &--title {
          display: block;
          font-size: 1.4rem;
          font-weight: bold;
          margin: 0 0 10px;
          @include sp {
            margin: 0;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
.fadeout {
  opacity: 0;
  transform: translateX(50px);

  &.is-fadeIn {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.7s;
  }
}
.fadeout2 {
  opacity: 0;
  transform: translateX(-50px);

  &.is-fadeIn {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.7s;
  }
}
