// Sizes
$pc-base-size: 1920;
$sp-base-size: 375;

// Breakpoints
$break-point-pc: 1440px;
$break-point-tablet: 1024px;
$break-point-sp: 768px;

$font_all: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'verdana', sans-serif;

// Sizes
$pc-base-size: 1920;
$sp-base-size: 375;

// Breakpoints
$break-point-pcBig: 1680px;
$break-point-pc: 1440px;
$break-point-tablet: 1024px;
$break-point-sp: 768px;

//Colors
$color-dark: #333;
$color-black: #3c3c3c;
$color-blackBg: #343434;
$color-blackForm: #282828;
$color-white: #fff;
$color-thinWhite: #efeae4;
$color-headerWhite: #eae5df;
$color-beige: #f1eee9;
$color-brown: #6f625d;
$color-gray: #3a3a3a;
$color-ash: #8c8484;
$color-ashBg: #8e867f;
$color-green: #b1d3bf;
$color-pink: #e1c0be;
$color-orange: #f7d6b4;
$color-red: #b70000;

// FontSize
$font-size37vw: 1.95vw; // 37px
$font-size27vw: 1.4vw; // 27px
$font-size22vw: 1.14vw; // 22px
$font-size18vw: 0.94vw; // 18px

$font-size50: 3.12rem; // 50px
$font-size40: 2.5rem; // 40px
$font-size35: 2.18rem; // 35px
$font-size30: 1.87rem; // 30px
$font-size25: 1.56rem; // 25px
$font-size22: 1.37rem; // 22px
$font-size18: 1.12rem; // 18px
$font-size17: 1.06rem; // 17px
$font-size15: 0.93rem; // 15px
$font-size12: 0.75rem; // 12px
