.contents {
  background-color: #000;

  &__title {
    text-align: center;
    padding: get_vw(50) 0;
    font-size: get_vw(40);
    background-color: #000;
    color: #fff;
    font-family: 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'HG明朝E';
    @include sp {
      padding: get_vw_sp(25) 0;
      font-size: get_vw_sp(20);
    }
  }
  &__slider {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    margin: 0 0 get_vw(8);
    @include sp {
      margin: 0 0 get_vw_sp(4);
    }

    &--flex {
      display: flex;
      height: 288px;
      @include sp {
        height: get_vw_sp(144);
      }
    }
    &--item {
      position: absolute;
      top: 0%;
      left: 0;
      width: 432px;
      margin: 0;
      animation: loop 98s linear 0s infinite both;
      animation-delay: 0s;
      @include sp {
        animation: loopSp 98s linear 0s infinite both;
        width: get_vw_sp(216);
      }

      &:nth-child(1) {
        animation-delay: -14s;
      }
      &:nth-child(2) {
        animation-delay: -28s;
      }
      &:nth-child(3) {
        animation-delay: -42s;
      }
      &:nth-child(4) {
        animation-delay: -56s;
      }
      &:nth-child(5) {
        animation-delay: -70s;
      }
      &:nth-child(6) {
        animation-delay: -84s;
      }
      &:nth-child(7) {
        animation-delay: -98s;
      }

      img {
        width: 402px;
        @include sp {
          width: get_vw_sp(200);
        }
      }
    }
  }
  &__slider2 {
    width: 100%;
    position: relative;
    overflow-x: hidden;

    &--flex {
      display: flex;
      height: 288px;
      @include sp {
        height: get_vw_sp(144);
      }
    }
    &--item {
      position: absolute;
      top: 0%;
      left: 0;
      width: 432px;
      margin: 0;
      animation: loop-left 98s linear 0s infinite both;
      animation-delay: 0s;
      @include sp {
        animation: loopSp-left 98s linear 0s infinite both;
        width: get_vw_sp(216);
      }
      &:nth-child(1) {
        animation-delay: -14s;
      }
      &:nth-child(2) {
        animation-delay: -28s;
      }
      &:nth-child(3) {
        animation-delay: -42s;
      }
      &:nth-child(4) {
        animation-delay: -56s;
      }
      &:nth-child(5) {
        animation-delay: -70s;
      }
      &:nth-child(6) {
        animation-delay: -84s;
      }
      &:nth-child(7) {
        animation-delay: -98s;
      }
      img {
        width: 402px;
        @include sp {
          width: get_vw_sp(200);
        }
      }
    }
  }
}
