// html,
// body,
// a {
//     cursor: none;
// }
#cursor {
    transform: translate(0, 0);
    pointer-events: none;
    position: fixed;
    top: -8px; //座標調節（直径の1/2）
    left: -8px; //座標調節（直径の1/2）
    width: 16px; //カーソルの直径
    height: 16px; //カーソルの直径
    background: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    z-index: 999;
    // transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;//遅延なしで付いてくる
    transition: transform 0.2s, top, 0.5s, left 0.5s, width 0.5s, height 0.5s, background-color 0.5s;
    transition-timing-function: ease-out;

    &.is-hover {
        top: -12px; //大きくなった分の座標調節
        left: -12px; //大きくなった分の座標調節
        width: 32px; //カーソルの直径
        height: 32px; //カーソルの直径
        background: rgba(200, 50, 50, 0.75);
    }
}

// 以下、カーソルに関係ない部分
.btn {
    display: block;
    width: 160px;
    margin: 40px auto;
    text-align: center;
    font-size: 14px;
    line-height: 1;

    a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 8px;
        background-color: #007adf;
    }
}
