.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    opacity: 0;
    transition: ease-in-out 0.5s;

    &.is-show {
        opacity: 1;
        transition: ease-in-out 0.5s;
    }

    &__inner {
        position: relative;
        z-index: 999;
    }

    &__nav {
        text-align: center;

        @include sp {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            opacity: 0;
            transition: 0.45s ease;
            background-color: $color_black;
            z-index: -1;

            &.is-active {
                visibility: visible;
                display: block;
                opacity: 1;
                transition: 0.45s ease;
                z-index: 1000;
            }
        }

        &--list {
            display: flex;
            justify-content: center;
            @include sp {
                flex-wrap: wrap;
                margin: 100px 0 0;
            }
        }

        &--link {
            width: 200px;
            padding: 20px 0;
            color: #333;
            font-weight: bold;
            transition: color 0.45s cubic-bezier(0.17, 0.67, 0.47, 1);
            @include sp {
                width: 100%;
                padding: get_vw_sp(10) 0;
                color: $color_white;
            }

            &:hover {
                color: #53b93a;
                transition: color 0.45s cubic-bezier(0.17, 0.67, 0.47, 1);
            }
        }
    }

    &__trigger {
        display: none;
        @include sp {
            outline: none;
            position: absolute;
            top: 7px;
            right: 20px;
            display: block;
            padding: 10px 0;
            z-index: 1000;
        }
    }

    &__border {
        width: get_vw_sp(30);
        height: get_vw_sp(2);
        background-color: green;
        transition: 0.45s cubic-bezier(0.17, 0.67, 0.47, 1);

        &--top {
            margin: 0 0 get_vw_sp(5);

            &.is-active {
                margin: 0;
                transform: rotate(45deg) translateX(2px);
                transition: 0.45s cubic-bezier(0.17, 0.67, 0.47, 1);
            }
        }
        &--center {
            &.is-active {
                opacity: 0;
                transition: 0.45s cubic-bezier(0.17, 0.67, 0.47, 1);
            }
        }
        &--bottom {
            margin: get_vw_sp(5) 0 0;

            &.is-active {
                margin: 0;
                transform: rotate(-45deg) translateX(2px);
                transition: 0.45s cubic-bezier(0.17, 0.67, 0.47, 1);
            }
        }
    }

    &__cursor {
        transform: translate(0, 0);
        pointer-events: none;
        position: fixed;
        top: -8px; //座標調節（直径の1/2）
        left: -8px; //座標調節（直径の1/2）
        width: 16px; //カーソルの直径
        height: 16px; //カーソルの直径
        background: rgba(0, 0, 0, 0.75);
        border-radius: 50%;
        z-index: 999;
        // transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;//遅延なしで付いてくる
        transition: transform 0.2s, top, 0.5s, left 0.5s, width 0.5s, height 0.5s, background-color 0.5s;
        transition-timing-function: ease-out;
        @include sp {
            display: none;
        }

        &.is-hover {
            top: -32px; //大きくなった分の座標調節
            left: -32px; //大きくなった分の座標調節
            width: 62px; //カーソルの直径
            height: 62px; //カーソルの直径
            background: rgba(92, 91, 91, 0.75);
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transition: 0.5s ease;
        visibility: hidden;
        z-index: 997;

        &.is-hover {
            visibility: visible;
            background-color: #fff;
            transition: 0.5s ease;
            opacity: 0.8;
        }
    }
}
