// Sizes
$pc-base-size: 1920;
$sp-base-size: 375;

// Breakpoints
$break-point-pc: 1440px;
$break-point-tablet: 1024px;
$break-point-sp: 768px;

// Font
$font_all: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'verdana', sans-serif;

// Colors
$color_black: #333;
$color_white: #fff;
