.footer {
  padding: 20px 0 0;
  background-color: #333;

  &__link {
    display: block;
    color: #fff;
    font-size: 16px;
    margin: 0 0 80px 20px;
    transition: all 0.4s;
    text-decoration: none;
    font-family: 'Fraunces', serif;
    &:hover {
      color: #e0f4fc;
      transition: all 0.4s;
    }
  }

  &__small {
    display: block;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 20px 0;
    background-color: #000;
    font-family: 'Fraunces', serif;
  }
}
