.footer {
  padding: 20px 0 0;
  background-color: #333;

  &__link {
    display: block;
    color: #fff;
    font-size: 16px;
    margin: 0 0 80px 20px;
    transition: all 0.2s;
    font-family: 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'HG明朝E';
    text-decoration: none;
    &:hover {
      color: rgb(122, 122, 122);
      transition: all 0.2s;
    }
  }

  &__small {
    display: block;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 20px 0;
    background-color: #000;
    font-family: 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'HG明朝E';
  }
}
